/* Основной контейнер страницы */
.container-custom {
  padding-top: 3rem;
  padding-bottom: 2rem;
  justify-content: center;
  text-align: center;
}

/* Стили для строки поиска */
.search-input {
  text-align: center;
  border: 1px solid #ced4da; /* Светло-серая рамка */
  border-radius: 0.375rem; /* Закругленные углы */
  padding: 0.5rem 1rem; /* Внутренние отступы */
  font-size: 1rem;
  transition: border-color 0.2s;
}

.search-input:focus {
  border-color: #007bff; /* Синяя рамка при фокусе */
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.search-button {
  border-radius: 0.375rem; /* Закругленные углы */
  font-size: 1rem;
  padding: 0.5rem 1rem; /* Внутренние отступы */
}

.bill-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Три равные колонки */
  gap: 20px; /* Отступ между элементами */
  justify-items: center; /* Центрирование содержимого */
  margin-top: 40px; /* Отступ сверху */
}

/* Ряд с карточками */
.bill-card-col-3 {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 1.5rem; /* Отступ между строками карточек */
}

/* Центровка содержимого */
.bill-card-col-3 .card-custom {
  max-width: 300px; /* Ограничиваем ширину карточек */
  width: 100%;
}