/* Основной контейнер страницы */
.container-custom {
  padding-top: 3rem;
  padding-bottom: 2rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 5px;
}

.contt{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 5px;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input {
  text-align: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #ced4da; /* Светло-серая рамка */
  border-radius: 0.375rem; /* Закругленные углы */
  padding: 0.5rem 1rem; /* Внутренние отступы */
  font-size: 1rem;
  transition: border-color 0.2s;
}

.search-input:focus {
  border-color: #007bff; /* Синяя рамка при фокусе */
  outline: none;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.search-button {
  border-radius: 0.375rem; /* Закругленные углы */
  font-size: 1rem;
  padding: 0.5rem 1rem; /* Внутренние отступы */
}

.bill-grid {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Три равные колонки */
  gap: 20px; /* Отступ между элементами */
  justify-items: center; /* Центрирование содержимого */
  margin-top: 40px; /* Отступ сверху */
}

/* Ряд с карточками */
.bill-card-col-3 {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 1.5rem; /* Отступ между строками карточек */
}

/* Центровка содержимого */
.bill-card-col-3 .card-custom {
  max-width: 300px; /* Ограничиваем ширину карточек */
  width: 100%;
}

.basket-container {
  margin-left: 50px;
  position: relative; /* Для позиционирования дочернего счетчика */
  width: 40px; /* Ширина контейнера */
  height: 40px; /* Высота контейнера */
  display: inline-block;
}

/* Иконка корзины */
.basket {
  width: 100%; /* Полностью заполняет контейнер */
  height: 100%; /* Пропорциональное заполнение контейнера */
  object-fit: contain; /* Сохранение пропорций изображения */
}

img.basket {
  margin:0;
}
/* Счетчик в правом нижнем углу */
.basket-counter {
  position: absolute;
  bottom: -5px; /* Сдвигаем чуть ниже границы */
  right: -5px; /* Сдвигаем чуть правее границы */
  background-color: red; /* Красный фон */
  color: white; /* Белый текст */
  border-radius: 50%; /* Делаем круглый счетчик */
  width: 18px; /* Размер круга */
  height: 18px;
  font-size: 12px; /* Размер шрифта */
  text-align: center;
  line-height: 18px; /* Центрирование текста по вертикали */
  font-weight: bold; /* Жирный текст */
}