.bills-2 {
    /* border-radius: 20px;
    background-color: #FFF;
    padding: 2%;
    margin-top: 20px;
    width: 350px;
    height: 170px; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.image-bills-2 {
    width: 300px;
    height: 120px;
    margin-top: 1px;
    margin-left: 25px;
    margin-right: auto;
}

.bill-name-2 {
    font-size: 18px;
    display: flex;
    margin-top: 4%;
    font-weight: 500;
    margin-left: 25px;
    font-family: SBSans, Arial, Helvetica, sans-serif;
}

.lin {
    display: flex;
    flex-direction: row;
}

.picking {
    width: 37px;
    height: 37px;
    margin-left: 80px;
}

/* .add-to-cart-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
} */

.add-pick {
    display: flex;
    margin-top: 4%;
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

.card-di {
    display: flex; 
    justify-content: space-between;
}