
.upper{
    width: 100%;
    height: 75px;
    background-color: #8ceca5;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    gap:1%;
}

.name{
    font-size: 32px;
    color: #148F2B;
    font-family: SBSans, Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    margin-top: 7px;
}

.header-logo{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center; 
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}

body{
    background-color: #f1f5f7;
}

/* Ссылки в навигации */
.nav-link-custom {
    color: #007bff; /* Основной цвет ссылок */
    text-decoration: none;
    transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
}

.nav-link-custom:hover {
    color: #0056b3; /* Темный синий при наведении */
    text-shadow: 0 0 8px rgba(0, 91, 187, 0.4); /* Эффект свечения */
    font-weight: bold;
}

/* Текущая активная ссылка */
.nav-link-custom.active {
    color: #28a745; /* Зеленый для текущей страницы */
    font-weight: bold;
    border-bottom: 2px solid #28a745; /* Подчеркивание */
}

/* Навигационные элементы */
.nav-item-custom {
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

.nav-item-custom:hover {
    background-color: rgba(0, 123, 255, 0.1); /* Легкий фон при наведении */
}

/* 
@media (max-width: 768px) {
    .header-navbar {
        flex-direction: column;
    }

    .nav-item-custom {
        text-align: center;
        margin-bottom: 5px;
    }
} */
